.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 600px;
	justify-content: space-evenly;
	margin: 3% auto;
	background-color: red;
}
